@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700');

*
{
	font-family: 'Raleway', 'Arial', sans-serif;
	margin: 0;
}

#cabecalho
{
	width: 100%;
	height: 90px;
	background-color: #FFFFFF;
}

#img_logo
{
	width: 225px;
	height: 60px;
	margin: 15px 100px;
}

label[for="bt_menu"]
{
	font-family: 'Arial', sans-serif;
	font-size: 50px;
	position: absolute;
	right: 100px;
	margin: 7px 0;
	background-color: #FFFFFF;
	width: 50px;
	height: 50px;
}

#bt_menu
{
	display: none;
}

#menu
{
	width: 250px;
	height: 450px;
	background-color: #E8E8E8;
	border-radius: 5px;
	display: none;
}

#menu ul
{
	list-style: none;
}

#menu ul li
{
	width: 200px;
}

#menu ul li a
{
	padding: 15px;
	text-decoration: none;
	color: #FFFFFF;
}

#menu ul li a:hover
{
	text-decoration: underline;
}

#bt_menu:checked ~ #menu
{
	position: absolute;
    right: 0;
}

#banner
{
	width: 100%;
}

#img_banner
{
	width: 100%;
}

#bloco_banner
{
	width: 440px;
	height: 210px;
	background-color: rgba(0,0,0, 0.5);
	border: 15px solid #FFFFFF;
	position: absolute;
	top: 255px;
	left: 125px;
}

#bloco_banner h3
{
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 30pt;
	font-weight: 700;
	text-align: center;
	color: #FFFFFF;
	margin-top: 25px;
}

#bloco_banner p
{
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 16pt;
	font-weight: 400;
	text-align: justify;
	margin: 10px;
	color: #FFFFFF;
}

#outer
{
	background-color: #05006A;
	margin-top: -10px;
}

#outer h1
{
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 44pt;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
}

#outer p
{
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 20pt;
	font-weight: 100;
	color: #FFFFFF;
	text-indent: 30px;
	text-align: justify;
	padding: 30px;
}

#outer_img ul li
{
	display: inline-block;
}

#outer_img h3
{
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 18pt;
	font-weight: 600;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
}

#outer_img p
{
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	width: 185px;
	height: 85px;
	margin: 5px 53px;
	text-indent: 0;
}

.img_servicos
{
	margin: 0 53px;
	width: 185px;
}

.parallax
{
	width: 100%;
	height: 400px;
	background-image: url("Images/parallax.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
}

.parallax p
{
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 22pt;
	font-weight: 600;
	text-shadow: 1px 1px 0px #000000;
	color: #FFFFFF;
	width: 500px;
	height: 80px;
}

#outer_final
{
	background-color: #E8E8E8;
	color: #000000;
}